html {
    scroll-behavior:smooth;
}

body {
    background-color:black;
    color:white;
    margin:0;
    padding-bottom: 25px;
}

main {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/* Header Section */

header {
    width:100%;
    padding:15px 10px;
    background:#008080;
    display:flex;
    justify-content:space-around;
    align-items:center;
    position:fixed;
    top:0;
    z-index:2;
}

h1 {
    color:white;
    font-size:1em;
    text-align:center;
}

nav {
    width:75%;
    max-width:900px;
}

.title {
    font-size: 1.6em;
}

nav > ul {
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    height:100%;
    padding-inline-start:0;
    margin-block:0;
}

nav > ul > li, h1 > a{
    color:white;
    display:block;
    margin:0 0.2rem;
    padding:0.2rem;
}

li > a, h1 > a {
    color:inherit;
    text-decoration:none;
}

nav > ul > li > a:hover {
    color:#ADADAD;
}

.myNav > ul > li > a {
    font-size: 1.2em;
}

.icon {
    display:none;
}

.second-nav {
    display:none;
}

@media screen and (max-width: 850px) {
    
    h1 {
        font-size: .8em;
    }

    .myNav > ul > li > a {
        font-size: .9em;
    }
}

@media screen and (max-width: 700px) {
    header {
        align-items:top;
        padding:8px 10px;
    }
    
    h1 {
        display:block;
        width:75%;
        font-size:1.2em;
        min-width:200px;
    }
    
    .myNav li:not(.thin-nav) {
        display:none;
    }
    .thin-nav {
        display:block;
        text-align:end;
    }
    .icon {
        float:inline-end;
        display:block;
        padding-right:20px;
        color:inherit;
    }
}

@media screen and (max-width: 700px) {
    .second-nav.responsive {
        background-color:gray;
        width:100%;
        display:flex;
        position:fixed;
        z-index:1;
    }
    
    .hidden-nav {
        padding-top:60px;
        height:200px;
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
    }
    
    .hidden-nav a {
        display:flex;
        color:white;
        width:75%;
        text-decoration:none;
    }

}

/* End of Header Section */

/* Home Section */

.frame {
    width:80%;
    margin:0 auto 10px auto;
    max-width:1100px
}

h2:not(.six-week-program) {
    padding-top:90px;
    text-align:start;
}

#home {
    text-align:center;
    font-size:3.2em;
}

.button1 {
    display:flex;
    align-items:center;
    margin:10px auto;
    padding:20px 40px;
    font-size:1.5em;
    background-color:#0069ff;
    transition:all 0.5s;
    border-width: 0;
}

@media screen and (min-width: 480px) {
    .button1 {
        font-size:2em;
    }
}

.top-padding {
    padding-top:50px;
}

.top-padding2 {
    padding-top: 70px;
}

.tall-padding {
    padding:40px;
}

button > a {
    text-decoration:none;
    color:white;
    font-weight:bold;
    transition:color 0.2s
}

img {
    width:100%;
}

.opening-img {
    display:block;
    width: 100%;
    margin:auto;
}

button, img {
    border-radius:5px;
}

.large-text {
    font-size:1.5em;
}

.mid-text {
    font-size: 0.8em;
}

.regular-text {
    font-size:1em;
}

.green-light:hover {
    color:rgb(27, 255, 27);
    transition:.5s;
}

.rich-green-light {
    color:rgb(3, 255, 3)
}

.rich-blue-light {
    color: rgb(28, 145, 255);
}

.center {
    text-align: center;
}

.indent {
    padding-left: 24px;
}

/* End of Home Section */

/* Our Guarantee Section */

iframe {
    display:block;
    margin:auto;
    justify-content:center;
    width:100%;
}

.videoWrapper {
    position:relative;
    padding-bottom:56.25%;
    padding-top:25px;
    height:0;
  }
  
.videoWrapper iframe {
    position:absolute;
    top:0;
    inset-block-start:0;
    width:100%;
    height:100%;
  }

.s-border {
    border:solid silver 5px;
}

/* End of Our Guarantee Section */

/* Customer Perks section */

.box {
    justify-content:space-evenly;
    padding:20px 0;
    margin:15px auto;
    width:100%;
}

.reverse {
    flex-direction:row-reverse;
}

.vid-box {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    align-items:top;
    gap:16px;
    padding:20px 0;
    width:100%;
}

.text {
    text-align:center;
    object-fit:cover;
    font-size:3.6em;
    padding:0 20px;
    color:white;
    font-family:'Times New Roman', Times, serif;
}

@media only screen and (max-width: 720px) {
    .text {
        font-size:2.2em;
    }
}

.text-box {
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    background-color:black;
    flex:1 1 0;
    border-radius:5px;
    }

.media {
    display:block;
    margin:auto;
    width:50%;
    max-width:325px;
    min-width:250px;
    object-fit:cover;
    justify-content:center;
    flex:1 1 0;
}

.wide-media {
    position:relative;
    display:block;
    margin:auto;
    max-width:650px;
    min-width:250px;
    object-fit:cover;
    justify-content:center;
    flex:3 1 0;
}

@media screen and (max-width: 480px) {}

.tm-vid {
    padding-top: 40px;
}

/* End of customer perks section */

/* About Us section */

.locations {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items:top;
    gap:16px;
    margin:0 auto;
    width:100%;
}

.location1 {
    width:42%;
    height:auto;
    object-fit:cover;
    flex:1 1 0;
}

.location2 {
    width:55%;
    height:auto;
    object-fit:cover;
    flex:1 1 0;
}

.contact-info {
    padding-top:20px;
}

.contact {
    font-size:1.1em;
    color:rgb(238, 237, 237)
}

.bold {
    font-weight:bold;
}

.undecorate {
    text-decoration:none;
}

.link-color:hover {
    color:rgb(188, 230, 248);
}

p {
    line-height:2;
}

/* End of About Us section */

/* Footer Section */

/* commenting out button2 css 
.button2 {
    display:block;
    margin:10px 0;
    padding:20px 8px;
    font-size:1em;
    background-color:black;
    color:white;
    transition:all 0.5s;
}

.button2 > a {
    color:white;
}

.button2 > a:hover {
    color:inherit;
}

.thin-border {
    border:solid silver 2px;
}

@media screen and (min-width: 480px) {
    .button2 {
        font-size:1.35em;
    }
}

/* End of Footer Section */

/* Thank You Form section */

h3 {
    text-align:center;
    font-size:2em;
}

/* End of Thank You Form section */

/* Testimonials Section */

.side-by-side {
    padding: 20px;
}

.thirtyPerc {
    width: 25%;
    display: inline-block;
    vertical-align: middle;
}

.seventyPerc {
    width: 65%;
    display: inline-block;
    vertical-align: middle;
}

.fiftyPerc {
    width: 45%;
    display: inline-block;
    vertical-align: middle;
}

h3 {
    font-size: 1.5em;
}

.gold-border {
    border: solid gold 5px;
}

.rgreen-border {
    border: solid #1B8E2D 5px;
}

.media-center {
    margin: auto;
    display: block;
    width: 90%;
}

.verThirtyPerc {
    height: 33.3%;
}

.top-text {
    vertical-align:top;
}

.side-padding {
    padding-left: 20px;
    padding-right: 20px;
}

.gold {
    color: rgb(254, 238, 142);
}

@media screen and (max-width: 1050px) {
    .fiftyPerc {
        width: 100%;
        display: block;
    }

    .thirtyPerc {
        width: 100%;
        display: block;
    }

    .seventyPerc {
        width: 100%;
        display: block;
    }

    .item-reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .box {
        justify-content:space-evenly;
        width:100%;
    }

    .text {
        padding: 0px;
    }

    .side-padding{ 
        padding-left: 0;
        padding-right: 20px;
    }
}