body {
    background-color: black;
    color: white;
    margin: 0;
}

header {
    width: 100%;
    height: 70px;
    background:#008080;
    display: flex;
    justify-content: space-around; /*or space-between, or left*/;
    align-items: center;
    position: fixed;
    top: 0;
}

h1 {
    color: white;
    font-size: 1em;
    text-align:center;
}

nav {
    width:75%;
    max-width:900px;
}

nav > ul {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    padding-inline-start: 0;
    margin-block:0;

}

nav > ul > li {
    color: white;
    display: block;
    margin:0 0.2rem;
    padding: 0.2rem;
}

li > a {
    color: inherit;
    text-decoration: none;
}

nav > ul > li > a:hover {
    color: #ADADAD;
}

main {
    padding-top: 50px
}

div:not(.video, .perks, .locations) {
    width: 80%;
    margin: 0 auto 10px auto;
    max-width: 800px
}

h2 {
    padding-top: 90px;/*change once header is changed*/
    text-align: left;
}

#home {
    text-align: center;
    font-size: 2.2em;
}

button {
    display: flex;
    align-items: center;
    margin: 10px auto;
    padding: 20px 40px;
    font-size: 1.5em;
    background-color:beige;
    transition: all 0.5s
    
}

button > a {
    text-decoration: none;
    color: red;
    font-weight: bold;
    transition: color 0.2s
}

button > a:hover {
    color: darkred;
}

button:hover {
    background-color: /*set this*/
}

img {
    width: 100%;
}

iframe {
    width: 100%;
    justify-content: center;
}

.perks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    gap: 16px;
    margin: 0 auto;
}
/* set up an alternate for if the screen is full, to fit all three first perks in one row*/

.perk {
    width: 100%;
    max-width: 325px;
    object-fit: cover;
}

.wide-perk {
    width: 100%;
    height: auto;
    padding-bottom: 8px;
}

.vid-perks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 0 auto;
}

.locations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items:top;
    gap: 16px;
    margin: 0 auto;
    width: 100%;
}

.location1 {
    width: 42%;
    height:auto;
    object-fit: cover;
}

.location2 {
    width: 55%;
    height: auto;
    object-fit: cover;
}

button, img {
    border-radius: 5px;
}