html {
    scroll-behavior:smooth;
}

body {
    background-color:rgb(241, 239, 239);
    color:black;
    margin:0;
    padding-bottom: 25px;
}

main {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/* Decoration Section */

.frame {
    width:85%;
    margin:0 auto 10px auto;
}

.frame-block {
    width:85%;
    display: block;
    margin:0 auto 10px auto;
}

h2:not(.six-week-program, .no-pad) {
    padding-top:50px;
}

.top-padding {
    padding-top:50px;
}

.top-padding2 {
    padding-top: 70px;
}

.top-padding3 {
    padding-top: 110px;
}

.tall-padding {
    padding:40px;
}

button {
    text-decoration:none;
    color:white;
    font-weight:bold;
    transition:color 0.2s
}

button > a {
    text-decoration:none;
    color:white;
    font-weight:bold;
    transition:color 0.2s
}

button, img {
    border-radius:5px;
}

.large-text {
    font-size:1.5em;
}

.medium-text {
    font-size: 1.1em;
}

.regular-text {
    font-size:1em;
}

.center {
    text-align: center;
}

iframe {
    display:block;
    margin:auto;
    justify-content:center;
    width:100%;
}

.videoWrapper {
    position:relative;
    padding-bottom:56.25%;
    padding-top:25px;
    height:0;
}
  
.videoWrapper video, .videoWrapper iframe {
    position:absolute;
    top:0;
    inset-block-start:0;
    width:100%;
    height:100%;
}

.bold {
    font-weight:bold;
}

.undecorate {
    text-decoration:none;
}

p {
    line-height:2;
    color: #5c5353;
}

h3 {
    text-align:center;
    font-size: 1.5em;
}

.gold {
    color: rgb(254, 238, 142);
}

.divider {
    width: 82%;
    display: block;
    margin: auto;
    background-color:rgb(135, 135, 135);
    height: 2px;
    margin-top: 40px;
    margin-bottom: -20px;
}

.divider2 {
    width: 94%;
    display: block;
    margin: auto;
    background-color:rgb(135, 135, 135);
    height: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.fa-bars {
    color: white;
}

.langButton {
    display: block;
    margin-right: -5%;
    margin-left: auto;
    background-color: rgb(211, 236, 252);
    color: blue;
    font-size: 1.5em;
    font-weight: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px 10px;
}

/* End of Decoration Section */

/* Header Section */

header {
    width:100%;
    padding:15px 10px;
    background:black;
    display:flex;
    justify-content:space-around;
    align-items:center;
    position:fixed;
    top:0;
    z-index:2;
}

h1 {
    color:white;
    font-size:1em;
    text-align:center;
}

.title {
    font-size: 1.6em;
}

nav {
    width:75%;
    max-width:900px;
}

nav > ul {
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    height:100%;
    padding-inline-start:0;
    margin-block:0;
}

nav > ul > li, h1 > a{
    color:white;
    display:block;
    margin:0 0.2rem;
    padding:0.2rem;
}

li > a, h1 > a {
    color:inherit;
    text-decoration:none;
}

nav > ul > li > a:hover {
    color:#ADADAD;
}

.myNav > ul > li > a {
    font-size: 1.2em;
}

.icon {
    display:none;
}

.second-nav {
    display:none;
}

.tipsNav {
    transition: .5s;
    text-shadow: -1px 1px 10px gold;
}

.tipsNav:hover {
    transition: .5s;
    color: rgb(253, 230, 101);
    text-shadow: unset;
}

/* End of Header Section */

/* Popup Calendar and Schedule Section */

.popupCalendar {
    background-color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0;
    position: fixed;
    z-index: 4;
    left: 10%;
    right: 10%;
    top: 14%;
    bottom: 6%;
    overflow: auto;
  }

  .show {
    visibility: hidden;
  }

  .button3 {
    width: 240px;
    height: 45px;
    border-radius: 20px;
    background-color: black;
    position: fixed;
    right: 18px;
    bottom: 22px;
    font-size: 1em;
    border: none;
    cursor: pointer;
  }

  .outer-exit {
    position: fixed;
    right: 12%;
    top: 15%;
    z-index: 5;
    cursor: pointer;
  }

  .inner-exit {
    width: 27px;
    height: 20px;
    font-size: 2em;
    color: rgb(238, 236, 236);
  }

  .calFade {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0%;
    background-color: gray;
    opacity: 30%;
    width: 100%;
    height: 100%;
  }

  .popupSchedule {
    position: fixed;
    max-height: 95%;
    width: auto;
    max-width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    top: 2.5%;
    bottom: 2.5%;
    z-index: 4;
  }

  .outer-exit2 {
    position: fixed;
    right: 4%;
    top: 4%;
    z-index: 5;
    cursor: pointer;
  }

  .inner-exit2 {
    width: 40px;
    height: 40px;
    font-size: 2em;
    color: rgb(238, 236, 236);
  }

  .schedFade {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0%;
    background-color: gray;
    opacity: 70%;
    width: 100%;
    height: 100%;
  }

/* End of Popup Calendar Section */

/* Home Section */

#intro-vid {
    padding-top: 94px;
}

#home {
    text-align:center;
    font-size:3.2em;
}

#home1 {
    text-align: center;
    font-size: 3.2em;
    padding-bottom: 40px;
}

.button1 {
    display:flex;
    align-items:center;
    margin:10px auto;
    padding:5px 40px;
    font-size:2.2em;
    color: red;
    background-color: rgb(231, 226, 226); /*0069ff*/
    transition:all 0.5s;
    border-width: 0;
    cursor: pointer;
    font-weight: normal;
    font-family: cursive;
    border: solid gray 2px;
}

.opening-img {
    display:block;
    width: 100%;
    margin:auto;
}

#factoid {
    width: 90%;
    text-align: center;
    padding: 10px 5%;
    background-color: rgb(198, 222, 255);
    margin-top: 25px;
    margin-bottom: 25px;
}

#factoid > p {
    color: rgb(39, 165, 7);
}

.black-box {
    border: solid 2px black;
    border-style: dashed;
}

.gold-box {
    border: solid 2px gold;
}

/* End of Home Section */

/* Customer Perks section */

.box {
    justify-content:space-evenly;
    padding:20px 0;
    margin:15px auto;
    width:100%;
}

.reverse {
    flex-direction:row-reverse;
}

.vid-box {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    align-items:top;
    gap:16px;
    padding:20px 0;
    width:100%;
}

.text {
    text-align:center;
    object-fit:cover;
    font-size:3.6em;
    padding:0 20px;
}

.text-box {
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    background-color:black;
    flex:1 1 0;
    border-radius:5px;
    }

.media {
    display:block;
    margin:auto;
    width:50%;
    max-width:325px;
    min-width:250px;
    object-fit:cover;
    justify-content:center;
    flex:1 1 0;
}

.wide-media {
    position:relative;
    display:block;
    margin:auto;
    min-width:250px;
    object-fit:cover;
    justify-content:center;
    flex:3 1 0;
}

/* End of customer perks section */

/* About Us section */

.locations {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    /* justify-content:center; change back when two pictures are here */
    align-items:top;
    gap:16px;
    margin:0 auto;
    width:100%;
}

.location1 {
    width:42%;
    height:auto;
    object-fit:cover;
    flex:1 1 0;
}

.location2 {
    width:55%;
    height:auto;
    object-fit:cover;
    flex:1 1 0;
}

.location3 {
    max-width: 500px;
    width: 80%;
    height: auto;
}

.contact-info {
    padding-top:20px;
}

.contact {
    font-size:1.1em;
    color: black;
}

/* End of About Us section */

/* Footer Section */    /* End of Footer Section */

/* Testimonials Section */

.side-by-side {
    padding: 20px;
    margin: 10px;
}

.tw-pad {
    padding-left: 20px;
    padding-right: 20px;
}

.thirtyPerc {
    width: 25%;
    display: inline-block;
    vertical-align: middle;
}

.fiftyPerc {
    width: 43%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    display: inline-block;
    vertical-align:middle;
}

.seventyPerc {
    width: 65%;
    display: inline-block;
    vertical-align: middle;
}

.media-center {
    margin: auto;
    display: block;
    width: 90%;
}

/* Schedule Section */

#class-sch {
    width: 50%;
    display: block;
    margin: auto;
}

/* End of Schedule Section */



/* SCREEN CHANGES */



/* Header Screen Changes */

@media screen and (max-width: 850px) {
    
    h1 {
        font-size: .8em;
    }

    .myNav > ul > li > a {
        font-size: .9em;
    }
}

@media screen and (max-width: 700px) {
    header {
        align-items:top;
        padding:8px 10px;
    }

    h1 {
        display:block;
        width:95%;
        font-size:1.2em;
        min-width:200px;
    }

    .myNav li:not(.thin-nav) {
        display:none;
    }

    .thin-nav {
        display:block;
        text-align:end;
    }

    .icon {
        float:inline-end;
        display:block;
        padding-right:20px;
        color:inherit;
    }

    .second-nav.responsive {
        background-color:rgb(255, 255, 255);
        width:100%;
        display:flex;
        position:fixed;
        z-index:1;
    }
    
    .hidden-nav {
        padding-top:60px;
        height:200px;
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
    }
    
    .hidden-nav a {
        display:flex;
        color:rgb(255, 37, 37);
        width:75%;
        text-decoration:none;
    }

    .ex-pad {
        padding-top: 103px;
    }
}

@media screen and (max-width: 420px) {
    .hidden-nav {
        padding-top: 100px;
    }
    
    .ex-pad {
        padding-top: 138px;
    }
}

/* Calendar Screen Changes */

@media screen and (max-width: 750px) {

    .popupCalendar {
        left: 5%;
        right: 5%;
        top: 5%;
        bottom: 5%;
        z-index: 4;
    }

    .outer-exit {
        top: 6%;
        right: 6%;
    }

  }

/* Button and Testimonial Screen Changes */

@media screen and (max-width: 480px) {
    .button1 {
        font-size:2.5em;
    }

    .tm-vid {
        padding-top: 40px;
    }
    
    
    .tm-block {
        display: block;
        margin: auto;
        padding-left: 5px;
    }
}

/* Customer Perks Text Screen Changes */

@media only screen and (max-width: 720px) {
    .text {
        font-size:2.2em;
    }
}

/* Testimonials and Customer Perks Phone Screen Changes */

@media screen and (max-width: 1050px) {
    .fiftyPerc {
        width: 95%;
        display: block;
    }

    .thirtyPerc {
        width: 100%;
        display: block;
    }

    .seventyPerc {
        width: 100%;
        display: block;
    }

    .item-reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .box {
        justify-content:space-evenly;
        width:100%;
    }

    .text {
        padding: 0px;
    }

    .side-padding{ 
        padding-left: 0;
        padding-right: 0;
    }
    .tw-pad {
        padding-left: 0;
        padding-right: 0;
    }

    #intro-vid {
        padding-top: 150px;
    }
}

/* Schedule Screen Changes */

@media screen and (max-width: 800px) {
    #class-sch {
        width: 85%;
    }
}